html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
}


.footer {
  width: 100%;
  background-color: rgb(35, 34, 34);
  text-align: center;
  padding: 12px 0;
  color: rgb(4, 195, 195);
  font-size: 14px;
}

.responsive-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
